@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 3. Body Styling */
#on {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}
/* 4. QR Card Container */
#main_qr {
  background-color: hsl(0, 0%, 100%); /* White */
  padding: 20px;
  border-radius: 20px;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
/* 5. QR Image */
#main_qr img {
  width: 100%;
  border-radius: 15px;
}
/* 6. Heading */
#main_qr h3 {
  color: hsl(218, 44%, 22%); /* Slate 900 */
  font-weight: 700;
  font-size: 22px;
  margin: 20px 0 10px;
}
/* 7. Paragraph */
#main_qr p {
  color: hsl(216, 15%, 48%); /* Slate 500 */
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

/* 8. Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: hsl(216, 15%, 48%);
}
.attribution a {
  color: hsl(218, 44%, 22%);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}
